.page-container {
  padding: 20px;
  background: var(--ep-bg-color);
  color: var(--ep-text-color-primary);
  flex: 1;
  .page-container-header{
    display: flex;
  }
  .page-container-content{
    margin-top: 10px;
  }
}
// .table-header-cell {
//   background-color: var(--ep-bg-color-page) !important;
// }
